.header__nav {
  display: flex;
  align-items: center;
  height: 60px;
  //position: relative;
  & a {
    color: var(--title-text-color);
    &:hover,
    &:focus {
      color: var(--button-color);
      transition-duration: 250ms;
      transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
      transition-property: transform;
    }
  }
}
.headr {
  width: 100%;
  // margin: 0;
  // justify-content: space-between;
  // align-items: center;
  //----------------------------------РАМКА---------------
  // border: 1px solid #ececec;
}

.header__container {
  @media screen and (min-width: 768px) {
    display: flex;
    // justify-content: space-between;
    // align-items: center;
  }
  // display: flex;

  // justify-content: space-between;
  // align-items: center;
}

.header__navigation {
  // display: flex;
  @media screen and (min-width: 200px) {
    display: none;
  }
  @media screen and (min-width: 768px) {
    display: flex;
    position: relative;
  }
}

.header__menu-logo {
  //position: absolute;
  //top: -10px;
  padding-top: 24px;
  padding-bottom: 24px;
  @media screen and (min-width: 768px) {
    margin-right: 93px;
  }
  //margin-right: 93px;
}
.header__nav-item:not(:last-child) {
  @media screen and (min-width: 768px) {
    margin-right: 50px;
  }
}
.header__nav-link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  text-decoration: none;
  @include font(500, 14px, 1.14, 0.02em);
  // font-weight: 500;
  // font-size: 14px;
  // line-height: 1.14;
  // letter-spacing: 0.02em;
  position: relative;
  // @media screen and (min-width: 768px) {
  //   left: 88px;
  // }
  // @media screen and (min-width: 1200px) {
  //  left: 0px;
  // }

  &.active::after {
    content: '';
    width: 100%;
    height: 4px;
    background-color: var(--Web-span-text);
    position: absolute;
    bottom: 0px;
    left: 0;
    border-radius: 2px;
  }
}

.header__contacts {
  //   // display: flex;
  //   margin-left: auto;
  @media screen and (min-width: 320px) {
    display: none;
  }
  @media screen and (min-width: 768px) {
    display: block;
    margin-left: auto;
  }
  @media screen and (min-width: 1200px) {
    display: flex;
    margin-left: auto;
  }
}

.header__contacts-item:not(:last-child) {
  @media screen and (min-width: 1200px) {
    margin-right: 50px;
  }
}

.header__contacts-link {
  display: block;
  // padding-top: 32px;
  // padding-bottom: 32px;
  @include font(500, 14px, 1, 0.02em);
  // font-weight: 500;
  // font-size: 14px;
  // line-height: 1;
  // letter-spacing: 0.02em;
  color: var(--textarea-color);
  &:hover,
  &:focus {
    fill: currentColor;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-property: transform;
  }
  @media screen and (min-width: 768px) {
    font-size: 12px;
    line-height: 1.16;
    padding-top: 10px;
  }
  @media screen and (min-width: 1200px) {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}

.header__contacts-link:not(:last-child) {
  @media screen and (min-width: 768px) {
    padding-top: 21px;
    padding-bottom: 10px;
  }
}
.header__contacts-link-icon {
  @media screen and (min-width: 480px) {
    display: none;
  }
  @media screen and (min-width: 768px) {
    display: inline;
    margin-right: 10px;
  }
}
.open-menu-btn {
  position: absolute;
  display: block;
  top: 10px;
  right: 15px;
  @media screen and (min-width: 768px) {
    display: none;
  }
  //transform: translateX(100%);
  &:hover,
  &:focus {
    fill: #2196f3;
  }
}

.mob-menu {
  // @media screen and (min-width: 480px) {
  position: fixed;
  left: 0;
  background-color: #ffffff;
  top: 0;
  width: 100vw;
  height: 100vh;
  z-index: 5;
  // padding-top: 21px;
  // padding-bottom: 48px;
  .container {
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 40px;
    // margin-left: 40px;
    padding-right: 25px;
    padding-top: 21px;
    padding-bottom: 48px;
    //}
  }

  @media screen and (min-width: 768px) {
    display: none;
  }
}
.mob-menu-top {
  width: 100%;
}
.mob-menu-bottom {
  width: 100%;
}

.close-menu-btn {
  display: block;
  margin-left: auto;
  margin-bottom: 10px;
  //margin-right: 21px;
  // text-align: center;
  // align-items: center;
  // justify-content: center;
  &:hover,
  &:focus {
    fill: #2196f3;
  }
  //transform: translateX(0%);
}

.mob-menu__nav-item {
  &:not(:last-child) {
    margin-bottom: 32px;
  }
}
.mob-menu__nav-link {
  font-weight: normal;
  font-size: 40px;
  line-height: 1.17;
  letter-spacing: 0.02em;

  color: #212121;
}
.mob-menu__contacts-link {
  font-weight: 500;
  font-size: 34px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: #212121;
}
.mob-menu__contacts-item {
  &:not(:last-child) {
    margin-bottom: 32px;
  }
}

.mob-menu__social-item {
  &:not(:last-child) {
    margin-bottom: 48px;
  }
}
.mob-menu__social-link {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: #2196f3;
  padding-right: 10px;
  padding-left: 10px;
  // border: 1px solid rgba(33, 33, 33, 0.2);
  // transform: rotate(90deg);
  text-decoration: none;
}

.mob-menu__border {
  @media screen and (min-width: 480px) {
    margin: 10px;
    border-right: 1px solid rgba(33, 33, 33, 0.2);
  }
}
// .mob-menu__social-link:not(:first-child) {
//   border: 1px solid rgba(33, 33, 33, 0.2);
//   transform: rotate(90deg);
// }

.mob-menu__social-list {
  margin-top: 64px;
  margin-bottom: 48px;
  display: flex;
}
