.team__section {
  background-color: #f5f4fa;
}
.team__caption {
  text-align: center;
  @include font(700, 36px, 2.6, 0.03em);
  // font-weight: 700;
  // font-size: 36px;
  // line-height: 2.6;
  // letter-spacing: 0.03em;
  // margin-bottom: 50px;
}
.team__item {
  // display: flex;
  justify-content: space-evenly;
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
  }
}
.caption__team {
  @include font(500, 16px, 1.12, 0.03em);
  // font-weight: 500;
  // font-size: 16px;
  // line-height: 1.12;
  // letter-spacing: 0.03em;
  margin-top: 30px;
  text-align: center;
}
.caption__team-text {
  /*color: var(--textarea-color);*/
  font-weight: 400;
  line-height: 1.12;
  text-align: center;
  margin: 10px;
  margin-bottom: 16px;
  /*margin-bottom: 30px;*/
}

.images {
  // height: 320px;
  width: auto;
}
.team__all {
  flex-basis: calc((100% - 90px) / 3);
  background: #ffffff;

  border-radius: 0px 0px 4px 4px;
  // & + & {
  //   margin-left: 30px;
  // }
  @media screen and (min-width: 768px) {
    flex-basis: calc(100% / 2 - 30px);
    margin-left: 30px;
  }
}
