:root {
  --primary-text-color: rgba(0, 0, 0, 0.8);
  --footer-text-color: rgba(255, 255, 255, 0.6);
  --title-text-color: #212121;
  --accent-color: #18a0fb;
  --button-color: #2196f3;
  --praymary-white-color: #ffffff;
  --secondary-gray-color: #2f303a;
  --text-white-color: #ffffff;
  --bg-color: #ffffff;
  --textarea-color: #757575;
  --test-color: #ccec12;
  --filter-color-text: #f5f4fa;
  --Web-span-text: #2196f3;
  --title-hover: #188ce8;
  --btn-bgr: #f5f4fa;
}
